<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="fragments/styles::meta"></th:block>
    <th:block th:include="fragments/styles::styles"></th:block>

    <title>SB Admin 2 - Bootstrap Admin Theme</title>



</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <th:block th:include="fragments/navbardemo::navbar"></th:block>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<th:block th:include="fragments/js::js"></th:block>

<!-- Custom Theme JavaScript -->
<th:block th:include="fragments/js::commons"></th:block>

</body>

</html>
